/* SHARED STYLES */

@font-face {
  font-family: 'Rosarivo';
  src: url('http://fonts.googleapis.com/css?family=Rosarvio');
}


body {
  font-family: 'Rosarivo', serif;
  background-color: Gainsboro;
  width: 90%;
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.50);
}

/* this container goes around CourseList, postcourse, ... */
.container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: WhiteSmoke;
  margin: 30px;
  box-shadow:inset 0px 0px 25px rgba(0,0,0,.1);
}

.mainheader {
  margin: auto;
  padding: 5px;
  text-align: center;
  color: #FC8004;
}
