/* NavBar stylesheet */

.topnav {
  margin-top: 20px;
  background-image: linear-gradient(-180deg, #F7912C 0%, #FC8004 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  float: left;
  font-size: 50px;
  color: white;
  padding-left: 20px;
}
.navLinkContainer {
  font-family: "Goudy Bookletter 1911", sans-serif;
}

.navLinkContainer div {
  display: inline;
}

.navLinkContainer a, button {
  margin: 5px;
  padding: 5px 5px;
	color: #FFF;
  text-decoration: none;
  background-color: inherit;
  border: 0;
}
.navLinkContainer a:hover, button:hover {
  margin: 5px;
  padding: 5px 5px;
	color: #CCC;
  text-decoration: none;
  background-color: inherit;
  border: 0;
}
